.btn-lg-home {
    line-height: 50px !important;
    padding: 0 24px;
    span {
        margin-left: 7px !important;
    }
}
@media (max-width: 767px) {
    .btn-lg-home {
        line-height: 36px !important;
        padding: 0 16px !important;
        span {
            margin-left: 4px !important;
        }
    }
    .primary-bg-img {
        width: 100%;
        height: calc(60vh - 56px);
        object-fit: fill;
    }
}
