<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="card-title logo">KIT LUY</h4>
        </div>
        <div class="col-12 col-md-5">
            <h1 class="card-title title">Welcome to KitLuy</h1>
            <p class="card-text">Where you can calculate your home bill just a few clicks.</p>
        </div>
        <div class="col-12 col-md-7">
            <img src="assets/image/svg/research.svg" alt="primary-image" class="primary-bg-img">
        </div>
    </div>
</div>