
.primary-bg-img {
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: fill;
}
.title {
    font-weight: 700;
    span {
        color: #673ab7;
    }
}

.title-wrapper {
    min-height: 40vh;
}
@media (max-width: 767px) {
    .primary-bg-img {
        width: 100%;
        height: calc(60vh - 56px);
        object-fit: fill;
    }
}
