<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="card-title logo">KIT LUY</h4>
        </div>
        <div class="col-12 mb-3">
            <div class="card shadow-sm">
                <div class="card-header border-bottom-0 py-3">
                    <h5 class="card-title board-title my-auto">Home Bills Calculation</h5>
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12 col-md-3">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body py-0">
                    <div class="form-row">
                        <div class="col-12">
                            <mat-tab-group>
                                <mat-tab label="Main">
                                    <div class="row pt-3 w-100 mx-0">
                                        <div class="col-12 col-md-6">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Home Bill</mat-label>
                                                <input type="number" min="0" class="no-arrow" matInput placeholder="Amount" [(ngModel)]="record.home_amount">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Electric Bill</mat-label>
                                                <input type="number" min="0" class="no-arrow" matInput placeholder="Amount" [(ngModel)]="record.electric_amount">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Water Bill</mat-label>
                                                <input type="number" min="0" class="no-arrow" matInput placeholder="Amount" [(ngModel)]="record.water_amount">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Devided To</mat-label>
                                                <input type="number" min="0" class="no-arrow" class="no-arrow" matInput placeholder="6 people" [(ngModel)]="record.devided_to">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-6" *ngFor="let item of record.other_bills">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>{{item.name}}</mat-label>
                                                <input matInput type="number" min="0" class="no-arrow" [(ngModel)]="item.amount">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <!-- <mat-tab label="Other Bills"></mat-tab> -->
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-3">
                    <div class="my-auto d-flex">
                        <button mat-raised-button class="mr-2" (click)="onNewMoreBill()" [disabled]="isSaving">More Bill</button>
                        <button mat-raised-button color="primary" (click)="onCuculate()" [disabled]="isSaving">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #dialog>
    <p>hi</p>
</ng-template>